* {
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("./images/header.jpg");
}

header > svg {
  display: block;
  bottom: -10%;
  position: relative;
  background-color: blue;
}

header h1 {
  font-size: 6rem;
  line-height: 1.1;
  color: whitesmoke;
  font-weight: 600;
  font-family: "Albra-Semi";
}

header nav a {
  position: relative;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
  letter-spacing: 0.3;
  text-decoration: none;
}

/* .main-nav,
.sub-nav {
  text-align: center;
} */

.main-nav {
  justify-self: start;
}

.content-block-a {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: 25% 25% 50%;
  column-gap: 5%;
  text-align: center;
  background-color: burlywood;
}

.content-block-a h1 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  margin-top: 5%;
}

.content-block-a p {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  margin: 5%;
}

.content-block-a .content {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: end;
  text-align: start;
}

.content-block-a .blockA,
.blockB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  padding: 10px;
  color: white;
  border-radius: 16px;
  text-decoration: none;
}

.content-block-a .blockA {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  background-color: #8cc8dc;
}

.content-block-a .blockB {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  background-color: #f5e093;
}

.content-block-b {
  text-align: center;
}

.content-block-b .cards {
  display: flex;
  flex-wrap: wrap;
}

.content-block-b .card {
  width: 33%;
}

.content-block-b img {
  width: 100%;
}

.content-block-b h3,
p {
  padding: 20px;
}

.content-block-b h3 {
  margin-bottom: 16px;
  font-size: 2.125rem;
}

.content-block-b p {
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.125rem;
}
