@import url(https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700&display=swap);

@font-face {
	font-family: "Albra-Semi";
	src: url("/v2/Albra\ Semi.otf");
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.heading-jumbo,
.heading-large,
.heading-small,
.post-content .gform_wrapper .gform_title,
.heading-small-medium,
.heading-smaller,
.medium-large-heading,
.gform_confirmation_message h1,
.gform_confirmation_message h2,
.gform_confirmation_message h3,
.gform_confirmation_message h4,
.gform_confirmation_message h5,
.gform_confirmation_message h6,
.heading-mini,
.heading,
.footer-nav-menu > li > a,
.news-letter .gform_wrapper .gform_title {
	font-family: "Albra-Semi";
	/* font-weight: normal; */
	line-height: 1.1;
}

body {
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	color: #000;
	font-family: "Roboto", sans-serif;
}

header,
main,
article {
	display: block;
}

.site-header {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	left: 0;
	top: 0;
	height: 60px;
	z-index: 5;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.site-header__overlay {
	position: absolute;
	width: 100%;
	left: 0;
	background-color: #0c3c68;
	height: 100vh;
	-webkit-transform: translateY(-100vh);
	-ms-transform: translateY(-100vh);
	transform: translateY(-100vh);
}

.site-header-logo {
	z-index: 1;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	margin: 0 auto 0 2.2%;
}

.site-header-logo a {
	display: block;
	font-size: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.site-header-logo img {
	width: 150px;
}

.main-nav {
	display: none;
	position: fixed;
	width: 100%;
	height: calc(100vh - 60px);
	top: 60px;
	left: 0;
	padding: 40px 16px 48px 32px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: #0c3c68;
	color: #fff;
}

.main-nav .main-nav-menu--desktop {
	display: none;
}

.main-nav ul {
	display: block;
	font-size: 0;
	list-style-type: none;
}

p,
li,
.paragraph {
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 1.5;
}

.main-nav ul li + li {
	margin: 8px 0 0px 0;
}

.main-nav ul li a {
	display: inline-block;
	font-size: 1.25rem;
	padding: 8px 0;
	color: #f5e093;
	font-weight: 600;
}

.extra-nav {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	position: relative;
	margin: -3px 16px 0 0;
	right: 0;
	height: 40px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.extra-nav .language-picker {
	display: none;
}

.language-picker input,
.language-picker__dropdown {
	display: none;
}

.extra-nav .language-picker__toggle {
	padding: 13px 10px 14px;
	display: inline-block;
}

.extra-nav .language-picker__toggle--current {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	outline: none;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	color: #fff;
	font-family: "Roboto", sans-serif;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	cursor: pointer;
	opacity: 1;
	-webkit-transition: -webkit-transform 0.15s ease-in-out;
	transition: -webkit-transform 0.15s ease-in-out;
	-o-transition: transform 0.15s ease-in-out;
	transition: transform 0.15s ease-in-out;
	transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

input:checked ~ .language-picker__dropdown {
	display: block;
	position: absolute;
	list-style: none;
	opacity: 1;
	background-color: #0c3c68;
	border-radius: 16px;
	overflow: hidden;
	-webkit-box-shadow: 0 15px 35px -15px rgb(50 60 76 / 35%);
	box-shadow: 0 15px 35px -15px rgb(50 60 76 / 35%);
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
	-webkit-transition: opacity 0.2s ease-in-out,
		-webkit-transform 0.15s ease-in-out;
	transition: opacity 0.2s ease-in-out, -webkit-transform 0.15s ease-in-out;
	-o-transition: transform 0.15s ease-in-out, opacity 0.2s ease-in-out;
	transition: transform 0.15s ease-in-out, opacity 0.2s ease-in-out;
	transition: transform 0.15s ease-in-out, opacity 0.2s ease-in-out,
		-webkit-transform 0.15s ease-in-out;
}

.extra-nav .language-picker .flag {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 10px;
	float: left;
	margin: 1px 8px 0 0;
}

.extra-nav .language-picker .flag--sv {
	background: url("https://www.junibacken.se/wp-content/themes/bz-junibacken/assets/images/flags/sweden_flag.svg")
		no-repeat -3px center/cover;
}

.extra-nav .language-picker a {
	color: #fff;
	font-size: 0.875rem;
	font-weight: 400;
	-webkit-transition: opacity 0.15s ease-in-out;
	-o-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;
}

.extra-nav .language-picker__dropdown li a {
	padding: 6px 10px 6px;
	display: block;
	-webkit-transition: background-color 0.15s ease-in-out;
	-o-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;
}

.extra-nav .language-picker__dropdown li a:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.extra-nav .language-picker__dropdown li:first-child a {
	padding: 8px 10px 6px;
}

.flag--en-gb {
	background: url("https://www.junibacken.se/wp-content/themes/bz-junibacken/assets/images/flags/uk_flag.svg")
		no-repeat -3px center/cover;
}

.flag--fi {
	background: url("https://www.junibacken.se/wp-content/themes/bz-junibacken/assets/images/flags/suomi_flag.svg")
		no-repeat -3px center/cover;
}

.flag--ru {
	background: url("https://www.junibacken.se/wp-content/themes/bz-junibacken/assets/images/flags/russia_flag.svg")
		no-repeat -3px center/cover;
}

p,
li,
.paragraph {
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 1.5;
}

.extra-nav .vertical-seperator {
	display: none;
	margin: 0 10px;
	width: 1px;
	height: 20px;
	background-color: #fff;
	vertical-align: text-top;
}

.extra-nav .search-module {
	display: inline-block;
}

.extra-nav .search-module__icon {
	position: relative;
	z-index: 3;
	display: inline-block;
	vertical-align: text-top;
	padding: 10px 0px 10px 10px;
	-webkit-transition: opacity 0.15s ease-in-out;
	-o-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;
	border: 0;
	background: none;
	outline: none;
}

.icon {
	width: 24px;
	height: 24px;
}

.icon--invert {
	-webkit-filter: invert(1);
	filter: invert(1);
}

.icon--left {
	float: left;
	margin: -1px 4px 0 0;
}

.icon--search {
	background: url("https://www.junibacken.se/wp-content/themes/bz-junibacken/assets/images/icons/Search.svg")
		no-repeat;
}

.extra-nav .search-module__icon span.icon {
	-webkit-transition: -webkit-transform 0.15s ease-in-out;
	transition: -webkit-transform 0.15s ease-in-out;
	-o-transition: transform 0.15s ease-in-out;
	transition: transform 0.15s ease-in-out;
	transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
}

.extra-nav .search-module__container {
	display: none;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: #8cc8dc;
}

.text-container {
	margin: 40px 0;
}

.extra-nav .search-module__container__content {
	margin: 35vh 0;
}

article {
	display: block;
}

.post-header-with-image {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	height: 80vh;
	min-height: 350px;
	padding-top: 100px;
	margin: 0 0 40px;
}

.breadcrumbs {
	display: none;
}

.breadcrumbs a,
.breadcrumbs span {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 0.875rem;
}

.breadcrumbs a {
	font-weight: 300;
	opacity: 0.7;
	-webkit-transition: opacity 0.15s ease-in-out;
	-o-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;
}

.breadcrumbs span {
	font-weight: 400;
}

.breadcrumbs .divider {
	margin: 0 5px;
	opacity: 0.7;
}

.post-header-with-image__image {
	background-image: url("https://www.junibacken.se/wp-content/uploads/2020/01/fv_cirkus-1024x561.jpg");
}

.post-header-with-image__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.post-header-with-image__overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: -o-linear-gradient(
		top,
		rgba(0, 0, 0, 0.6) 0%,
		rgba(0, 0, 0, 0) 50%,
		rgba(0, 0, 0, 0.6) 100%
	);
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0.6) 0%,
		rgba(0, 0, 0, 0) 50%,
		rgba(0, 0, 0, 0.6) 100%
	);
}

.post-header-with-image__curve {
	display: none;
	position: absolute;
	bottom: 0;
	bottom: -2px;
}

.post-header-with-image__content {
	margin-top: auto;
	position: relative;
	padding: 0 6.25% 100px 6.25%;
	width: 100%;
}

.post-header-with-image__content__wrapper {
	max-width: 100%;
}

.post-header-with-image__content__wrapper--centered {
	margin: 0 auto;
	text-align: center;
}

.heading-jumbo {
	font-size: 2.75rem;
}

.post-header-with-image__content__wrapper h1,
.post-header-with-image__content__wrapper p {
	color: #fff;
}

.submenu {
	margin: 30px 0 0 0;
	font-size: 0;
	text-align: center;
	display: none;
}

.submenu a {
	position: relative;
	display: inline-block;
	font-size: 1.125rem;
	letter-spacing: 0.3;
	font-weight: bold;
	color: #fff;
}

.submenu a:after {
	content: "";
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	-webkit-transition: width 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-o-transition: width 0.2s ease-in-out, background-color 0.2s ease-in-out;
	transition: width 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.submenu a:hover:after {
	width: 100%;
	background: #fff;
}

.submenu a + a {
	margin: 0 0 0 32px;
}

.content-block-a {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.second-header {
	max-width: 680px;
	padding: 0 20px;
	margin: 0 auto 20px;
	text-align: center;
}

.second-header h2 {
	font-size: 2.375rem;
}

.content-block-a .sub-header {
	font-size: 1.6rem;
	margin: 30px 0;
	max-width: 870px;
	font-weight: 300;
	line-height: 1.5;
	margin: 5%;
}

.column-container {
	margin: 30px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	padding: 20px;
}

.column {
	width: 100%;
}

.column > p {
	padding: 10px;
	text-align: start;
	margin-bottom: 15px;
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 1.5;
}

.color-teaser-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 -10px 20px;
}

.color-teaser {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 50%;
	padding: 0 10px;
	margin-bottom: 10px;
	overflow: hidden;
}

.color-teaser a.bgcolor-blue {
	background-color: #8cc8dc;
}

.color-teaser a.bgcolor-yellow {
	background-color: #f5e093;
}

.color-teaser a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	border-radius: 16px;
	-webkit-transition: -webkit-transform 0.15s ease-in-out;
	transition: -webkit-transform 0.15s ease-in-out;
	-o-transition: transform 0.15s ease-in-out;
	transition: transform 0.15s ease-in-out;
	transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
	overflow: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

.color-teaser a::after {
	content: "";
	display: block;
	background: rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: opacity 0.15s ease-in-out;
	-o-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;
}

.color-teaser a:hover::after,
.color-teaser a:focus::after {
	opacity: 1;
}

.color-teaser__content {
	padding: 30px 20px;
	text-align: center;
}

.color-teaser a:hover,
.color-teaser a:focus {
	-webkit-transform: scale(0.96, 0.96);
	-ms-transform: scale(0.96, 0.96);
	transform: scale(0.96, 0.96);
}

.heading-smaller {
	font-size: 1.25rem;
}

.color-teaser__content__title {
	color: #0c3c68;
	word-break: break-word;
}

.color-teaser__content__text {
	margin: 7px 0 0 0;
	color: #0c3c68;
}

.content-block-b h2 {
	font-size: 2.375rem;
	text-align: center;
	margin: 60px 0;
}

.cards {
	position: relative;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.teaser {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-transition: background-color 0.35s;
	-o-transition: background-color 0.35s;
	transition: background-color 0.35s;
}

.card {
	width: 100%;
}

.teaser a {
	display: block;
	width: 100%;
}

.teaser__image {
	position: relative;
	padding-bottom: 61.05%;
	overflow: hidden;
}

.teaser__image__wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
}

.teaser__image__wrapper img {
	position: absolute;
	height: 100%;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	font-family: "object-fit: cover;";
	-webkit-transition: -webkit-transform 1s ease;
	transition: -webkit-transform 1s ease;
	-o-transition: transform 1s ease;
	transition: transform 1s ease;
	transition: transform 1s ease, -webkit-transform 1s ease;
}

.content-block-b .content {
	padding: 8.5% 12.6% 10.5%;
	text-align: center;
}

.content-block-b h3 {
	margin-bottom: 16px;
	font-size: 2.125rem;
}

.content .icon {
	width: 24px;
	height: 24px;
}

.cards .arrow {
	background: url("https://www.junibacken.se/wp-content/themes/bz-junibacken/assets/images/icons/Right_blue.svg")
		no-repeat;
}

.cards h3 span.icon {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 -24px 0 0;
	opacity: 0;
	transform: translate3d(0, 0, 0);
	transition: transform 0.25s ease-in-out, opacity 0.15s ease-in-out,
		-webkit-transform 0.25s ease-in-out;
}

.cards a:hover img {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.cards a:hover h3 {
	color: #0c3c68;
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-10px, 0, 0);
}

.cards a:hover .card {
	background-color: #8cc8dc;
}

.cards a:hover h3 span.icon {
	transform: translate3d(15px, 0, 0);
	opacity: 1;
}

/* footer {
	display: block;
	color: whitesmoke;
	border: 1px solid black;
	background-color: #0c3c68;
} */

footer .block-a {
	position: relative;
	background-color: #0c3c68;
	color: white;
	width: 100%;
	overflow: hidden;
}

footer .block-a .inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 6.71% 10.41% 100px 9.41%;
}

.inner_content {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: 100%;
}

.inner_content.left {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	margin: 0 0 60px 0;
}

footer .menu-a a,
footer .menu-b a {
	text-decoration: none;
}

footer .menu-a {
	display: inline-block;
	margin: 0 120px 0 0;
}

footer .menu-a ul {
	list-style-type: none;
}

footer .menu-a ul {
	margin: 0 0 10px 0;
	line-height: 1.3;
}

footer li {
	font-size: 1.125rem;
	line-height: 1.5;
}

footer .menu-a ul a {
	color: #fff;
	border-bottom: 1px solid transparent;
	-webkit-transition: border 0.15s ease;
	-o-transition: border 0.15s ease;
	transition: border 0.15s ease;
}

footer .menu-a ul a:hover {
	border-bottom: 1px solid #fff;
}

footer .menu-a > li > a {
	display: inline-block;
	font-size: 1.25rem;
}

footer .menu-b {
	margin: 25px 0 0 0;
	padding: 25px 0 0 0;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
}

footer .menu-a .menu-b a {
	line-height: 1.5;
	font-size: 1.125rem;
}

.block-a .contacts h5 {
	font-size: 1.25rem;
}

.block-a .contacts p {
	line-height: 1.6;
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 1.5;
}

.block-a .contacts a {
	color: #8cc8dc;
	display: inline-block;
	text-decoration: none;
	line-height: 1.2;
	border-bottom: 1px solid #8cc8dc;
	-webkit-transition: border 0.15s ease;
	-o-transition: border 0.15s ease;
	transition: border 0.15s ease;
}

.block-a .contacts a:hover {
	border-bottom: 1px solid transparent;
}

.news-letter {
	padding: 63px;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.2);
}

footer .news-letter div h3 {
	margin: 0 0 20px 0;
	font-size: 1.5rem;
	color: #fff;
}

footer input {
	display: block;
	width: 320px;
	margin: 0 0 16px;
	padding: 13px 16px;
	border-radius: 12px;
	max-width: 100%;
	font-size: 1rem;
	border: 1px solid #e0e0e0;
}

footer button {
	padding: 14px 32px 10px;
	border-radius: 24px;
	font-size: 1.125rem;
	line-height: 1.35;
	text-align: center;
	white-space: normal;
	cursor: pointer;
	border: none;
	background-color: #f5e093;
}

footer button:hover {
	-webkit-transform: scale(0.96, 0.96);
	-ms-transform: scale(0.96, 0.96);
	transform: scale(0.96, 0.96);
}

footer div p {
	color: #fff;
	font-weight: 300;
	line-height: 1.5;
	font-size: 1.125rem;
	margin: 10px 0 0 0;
}

.news-letter a {
	color: #8cc8dc;
	text-decoration: none;
	-webkit-transition: border 0.15s ease;
	-o-transition: border 0.15s ease;
	transition: border 0.15s ease;
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.news-letter a:hover {
	border-bottom: 1px solid #8cc8dc;
}

footer .wave {
	position: absolute;
	min-width: 1920px;
	z-index: 1;
}

footer .wave--bottom {
	bottom: 0;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

footer .block-b {
	display: flex;
	align-items: center;
	padding: 50px 10.41%;
	background-color: white;
}

footer .block-b h5 {
	color: black;
	font-size: 1.5rem;
}

footer footer .social-media a {
	text-decoration: none;
	margin: 0 0 0 25px;
}

footer .logo {
	width: 150px;
	margin: 0 0 0 auto;
}

@media only screen and (min-width: 600px) {
	.post-header-with-image__image {
		background-image: url("https://www.junibacken.se/wp-content/uploads/2020/01/fv_cirkus.jpg");
	}
}

@media only screen and (min-width: 767px) {
	.site-header {
		height: 100px;
	}

	.extra-nav {
		margin: 0 calc(2.2% + 23px) 0 0;
	}

	.extra-nav .language-picker {
		display: block;
	}

	.extra-nav .vertical-seperator {
		display: inline-block;
	}

	.text-container {
		margin: 60px 0;
	}

	.post-header-with-image {
		margin: 0 0 80px;
		height: 85vh;
		min-height: 500px;
	}

	.breadcrumbs {
		display: block;
		position: relative;
		margin: 0 0 0 2.2%;
		font-size: 0;
		z-index: 1;
	}

	.post-header-with-image {
		margin: 0 0 80px;
		height: 85vh;
		min-height: 500px;
	}

	.post-header-with-image__curve--desktop {
		display: block;
	}

	.post-header-with-image__content__wrapper {
		max-width: 512px;
	}

	.heading-jumbo {
		font-size: 3.375rem;
	}

	.current-nav {
		display: block;
		position: relative;
		padding: 50px 0;
		margin: 0 0 0 2.2%;
	}

	.second-header {
		max-width: 580px;
	}

	.column-container {
		padding: 0 6.25%;
	}

	.color-teaser__content {
		padding: 50px 32px;
	}

	.card {
		width: 50%;
	}
}

@media only screen and (min-width: 1025px) {
	.post-header-with-image__content__wrapper {
		max-width: 512px;
	}

	.second-header {
		padding: 0 75px;
	}

	.second-header h2 {
		font-size: 2.375;
	}
}

@media only screen and (min-width: 1280px) {
	.post-header-with-image__content__wrapper {
		max-width: 640px;
	}

	.heading-jumbo {
		font-size: 4.5rem;
	}

	.submenu {
		display: block;
	}

	.second-header {
		max-width: 950px;
	}

	.second-header h2 {
		font-size: 3.125rem;
	}

	.column-container {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}

	.column-container .column {
		width: 50%;
	}

	.heading-smaller {
		font-size: 1.375rem;
	}

	.content-block-b h2 {
		font-size: 3.125rem;
	}

	.card {
		width: 33.333%;
	}

	.inner_content {
		width: 50%;
	}

	.block-a .contacts h5 {
		font-size: 1.375rem;
	}
}

@media only screen and (min-width: 1440px) {
	.post-header-with-image__content__wrapper {
		max-width: 720px;
	}

	.heading-jumbo {
		font-size: 5rem;
	}

	.main-nav {
		margin: 0;
	}

	.extra-nav .language-picker a {
		font-size: 1rem;
	}

	.extra-nav .language-picker .flag {
		width: 20px;
		height: 20px;
	}

	.sub-nav {
		margin-top: 40px;
	}

	.second-header {
		max-width: 1050px;
	}

	.second-header h2 {
		margin: 60px 0px -60px;
		font-size: 3.625rem;
	}

	.color-teaser-container {
		margin: 0 -16px 32px;
	}

	.color-teaser {
		padding: 0 16px;
	}

	.color-teaser__content {
		padding: 32px 32px;
	}

	.heading-smaller {
		font-size: 1.5rem;
	}

	.content-block-b h2 {
		font-size: 3.625rem;
	}

	footer .menu-a > ul > li > a {
		font-size: 1.5rem;
	}

	footer .menu-a .menu-b a {
		font-size: 1.375rem;
	}

	.block-a .contacts h5 {
		font-size: 1.5rem;
	}

	.content-block-b h2 {
		font-size: 3.625rem;
	}
}

@media only screen and (min-width: 1500px) {
	.site-header {
		-webkit-box-align: unset;
		-ms-flex-align: unset;
		align-items: unset;
		height: auto;
		top: 36px;
	}

	.site-header__overlay {
		display: none;
	}

	.site-header-logo {
		margin: 0 0 0 2.2%;
	}

	.main-nav {
		width: auto;
		height: auto;
		background-color: transparent;
		top: 0;
		position: relative;
		display: block;
		padding: 0 40px;
		margin: 2px 0 0 0;
	}

	.main-nav .main-nav-menu--desktop {
		display: block;
	}

	.main-nav ul {
		display: inline-block;
		text-align: center;
	}

	.main-nav ul li {
		display: inline-block;
		position: relative;
		margin: 0 0 10px 0;
	}

	.main-nav ul li + li {
		margin: 0 0 10px 40px;
	}

	.main-nav ul li a {
		font-size: 1rem;
		letter-spacing: 0.3;
		color: #fff;
		line-height: 30px;
		display: inline-block;
		padding: 0;
	}

	.main-nav ul li a {
		font-size: 1.125rem;
	}

	.main-nav ul li:after {
		content: "";
		display: block;
		position: relative;
		top: -3px;
		left: 0;
		margin: auto;
		height: 2px;
		width: 0px;
		background: transparent;
		-webkit-transition: width 0.2s ease-in-out,
			background-color 0.2s ease-in-out;
		-o-transition: width 0.2s ease-in-out, background-color 0.2s ease-in-out;
		transition: width 0.2s ease-in-out, background-color 0.2s ease-in-out;
	}

	.main-nav ul li:hover:after {
		width: 100%;
		background: #fff;
	}
}

@media only screen and (min-width: 1680px) {
	.site-header-logo {
		margin: 0 0 0 5.2%;
	}

	.main-nav {
		margin: -1px 0 0 0;
	}

	p,
	li,
	.paragraph {
		font-size: 1.25rem;
	}

	.extra-nav {
		margin: 0 calc(5.2% + 23px) 0 0;
	}

	.breadcrumbs {
		margin: 0 0 0 5.2%;
	}

	.post-header-with-image__content__wrapper {
		max-width: 840px;
	}

	.heading-jumbo {
		font-size: 6.375rem;
	}

	.l_s {
		margin: 0 0 0 40%;
	}

	.current-nav {
		padding: 50px 80px 0 0;
	}

	.second-header {
		max-width: 1200px;
	}

	.second-header h2 {
		font-size: 4.25rem;
	}

	.column > p {
		font-size: 1.25rem;
	}

	.color-teaser-container {
		margin: 0 -20px 40px;
	}

	.color-teaser {
		padding: 0 20px;
	}

	.color-teaser__content {
		padding: 48px 32px;
	}

	.heading-smaller {
		font-size: 1.75rem;
	}

	.color-teaser__content > p {
		font-size: 1.25rem;
	}

	.content-block-b h2 {
		font-size: 4.5rem;
	}

	footer .block-b h5 {
		font-size: 1.75rem;
	}
}

@media only screen and (min-width: 1920px) {
	.post-header-with-image__content__wrapper {
		max-width: 1040px;
	}

	.heading-jumbo {
		font-size: 7.5rem;
	}

	.main-nav {
		margin: -2px 0 0 0;
	}

	p,
	li,
	.paragraph {
		font-size: 1.375rem;
	}

	.second-header {
		max-width: 1350px;
	}

	.second-header h2 {
		font-size: 5rem;
	}

	.column-container {
		padding: 0 10.41%;
	}

	.column > p {
		font-size: 1.375rem;
	}

	.color-teaser__content {
		padding: 72px 32px;
	}

	.heading-smaller {
		font-size: 2rem;
	}

	.color-teaser__content > p {
		font-size: 1.375rem;
	}

	.content-block-b h2 {
		font-size: 5rem;
	}

	.content-block-b h3 {
		margin-bottom: 24px;
		font-size: 3rem;
	}

	footer .block-b h5 {
		font-size: 2rem;
	}
}
